// couleurs Principales 
$primary-background-color: #ffd15b;
$secondary-background-color:#1B1B1B;
$tertiary-background-color:#e5e5e5;
$fourth-background-color: #ffffff;

// Couleur de texte
$primary-color:#7a7a7a;

// Textes
$font-title: 'Anton', sans-serif;
$font-text: 'Manrope', sans-serif;
