@import '../base/_reset.scss';
@import '../abstracts/_variables.scss';

body{
    margin: 0 auto;
    max-width: 1440px;
}

.header{
    width: 1440px;
    height: 100%;
    height: 667px;
    position: relative;
    background-image: url('../assets/pictures/f90e7bb5ff2950597c1f7f1fce40bd5b03a3d836.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .background-img{
        // width: 1440px;
        // height: 667px;
        // background-image: url('../assets/pictures/f90e7bb5ff2950597c1f7f1fce40bd5b03a3d836.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    h1{

        img.logo {
            position: absolute;
            top: 51px;
            left: 69px;
            height: 25.26px;
        }
    }

    h2{
        color: $primary-background-color;
        font-family: $font-title;
        font-weight: 400;
        padding-top: 245px;
        font-size: 2.75rem;
        text-align: center;
    }

    .search-bar{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;  
        width: 100%;
        margin-top: 29px;

        input{
            width: 100%;
            max-width: 954px;
            height: 72px;
            border-radius: 11px;
            padding-left: 35px;
            border: none;
            outline: none;
            font-family: $font-text;
            color: $primary-color;
            caret-color:$primary-color;
            cursor: pointer;
        }

        .cross-btn{
            position: absolute;
            top: 25px;
            right: calc((100% - 954px) / 2 + 85px);
            font-size: 24px;
            color:red;
            z-index: 2;
        }
        
        button{
            position: absolute;
            top: 10px;
            right: calc((100% - 954px) / 2 + 10px);
            width: 51px;
            height: 52px;
            background-color: $secondary-background-color;
            border-radius: 10px;
            color:$fourth-background-color;
            cursor: pointer;

            .fa-solid, .fa-magnifying-glass{
                font-size: 20px; 
            }
        }
    }
}

.main{
    margin: 0 auto;
    max-width: 1440px;
    padding: 21px 100px 201px 100px;
    background-color: $tertiary-background-color;

    .filters-Counter{
        display: flex;
        justify-content: space-between;
        margin-bottom: 55px;

        .filters{
            display: flex; 
            gap: 65px;

            .button-filter{
                width: 195px;
                height: 56px;
                font-family: $font-text;
                background-color: $fourth-background-color;
                border-radius: 11px;
                border: none;
                cursor: pointer;

                p{
                    font-size: 1rem;
                }

                .text-symbol {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 17px 25px 17px 16px;
                }

                .search-element-filter{
                    width: 195px;
                    height: 268px;
                    background-color: $fourth-background-color;
                    border-radius: 0 0 11px 11px;
                    position: absolute; 
                    z-index: 5;
                    display: none;

                    .ingredients-list{
                        list-style-type: none;
                        text-align: left;
                        padding-left: 0;
                        cursor: pointer;
                        }

                    .search-bar-and-glass {
                        position: relative;
                    }

                    input {
                        width: 163px;
                        height: 36px;
                        margin-top: 14px;
                        padding-left: 9px;
                        border: none;
                        outline: none;
                        color: $primary-color;
                        caret-color: rgba(198, 198, 198, 1);
                        border: solid 1px rgba(198, 198, 198, 1);
                    }

                    i {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
            }
        }

        .counter{
            display: flex;
            justify-content: center;
            align-items: center;

            h3{
                font-family: $font-title;
                font-weight: 400;
            }
        }
    }
    
    .container-recipe-card{
        display: flex;
        flex-wrap: wrap;
        gap: 48px;
        

            .recipe-card{
            display: flex;
            flex-direction: column; 
            width: 380px;
            height: 731px;
            background-color: $fourth-background-color;
            border-radius: 21px;

            .card-img{
                width: 100%;
                display: flex;
                position: relative;

                .time-recipe{
                    position: absolute;
                    top: 21px;
                    right: 22px;
                    width: 63px;
                    height: 26px;
                    font-family: $font-text;
                    font-size: 0.75rem;
                    background-color: $primary-background-color;
                    border-radius: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                img{
                    width: 100%;
                    height: 253px;
                    margin-bottom: 32px;
                    border-radius: 21px 21px 0 0;
                    object-fit: cover;
                }
            }

            h4{
                margin: 0 25px;
                font-family: $font-title;
                font-weight: 400;
                margin-bottom: 29px;
            }

            .recipe-text{
                margin: 0 25px;

                h5{
                    font-family: $font-text;
                    font-weight: 700;
                    font-size: 0.75rem;
                    color: $primary-color;
                    margin-bottom: 15px;
                }   

                .recipe-description{
                    height: 76px;
                    font-family: $font-text;
                    font-weight: 400;
                    font-size: 0.875rem;
                    margin-bottom: 32px;
                    position: relative;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .box-container-ingredients{
                    width: 330px;
                    height: 190px;

                    ul{
                        list-style: none;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(3, auto);
                        grid-auto-flow: column;
                        padding: 0;
                        margin: 0;
                        gap: 29px;
                        background: rgba(0, 255, 0, 0.1);

                        li {
                            height: 39px;
                            background: rgba(255, 0, 0, 0.1);

                            .ingredient{
                                font-size: 0.875rem;
                                font-family: $font-text;
                                font-weight: 400;
                            }

                            .quantity{
                                color: $primary-color;
                                font-size: 0.875rem;
                                font-family: $font-text;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }
}